#!/bin/bash

DATE=$(date +%F-%H-%M)
BACKUP="{{ backup }}"
BACKUP_DIR="{{ backup_dir }}-$DATE"
mkdir -p $BACKUP_DIR

WP_POD=$(kubectl get pods -l app=wordpress -o jsonpath="{.items[0].metadata.name}")
DB_POD=$(kubectl get pods -l app=mysql -o jsonpath="{.items[0].metadata.name}")

kubectl exec $DB_POD -- mysqldump -u root -ppassword wordpress > $BACKUP_DIR/db.sql
kubectl cp $WP_POD:/var/www/html $BACKUP_DIR/html
tar czf {{ backup_dir }}-$DATE.tar.gz --remove-files -C $BACKUP_DIR .

chown -R {{ ansible_user }}:{{ ansible_user }} $BACKUP

cd "$BACKUP" || exit 1
ls -1t backup-* 2>/dev/null | tail -n +6 | xargs -r rm --
